//- CHRO
extends product.pug

block variables
  - var title = 'Your Chief Human Resources Officer - CHRO.ai'
  - var product = 'chro'

block header
  h1 Your Chief Human Resources Officer

  p Our Chief Human Resources Officer supports your team via hiring, benefits and payroll.

block introduction
  h1 A Touch of Royalty

  p.intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui arcu, at pulvinar magna hendrerit quis. Praesent nisi leo, consequat et magna sed, aliquet porttitor odio.

block features
  +feature('Feature','cco','feature-goals')
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      
  +feature('Feature','chro','feature-review')
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      
  +feature('Feature','pink','feature-time')
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      
  +feature('Feature','aqua','feature-onboarding')
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
